@model GestorEventos.Web.Models.ReservaViewModel
<div class="card text-primary">
    <div class="card-header text-center">
        <h5>Editar Reserva</h5>
    </div>
    <div class="card-body text-primary">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="NombreReservacion" class="control-label">Nombre de la Reserva</label>
                        <input asp-for="NombreReservacion" class="form-control" />
                        <span asp-validation-for="NombreReservacion" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Cedula" class="control-label">Cédula del Participante</label>
                        <input asp-for="Cedula" class="form-control" />
                        <span asp-validation-for="Cedula" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FechaReserva" class="control-label">Fecha de la Reserva</label>
                        <input asp-for="FechaReserva" type="datetime-local" class="form-control" />
                        <span asp-validation-for="FechaReserva" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Cantidad" class="control-label">Cantidad</label>
                        <input asp-for="Cantidad" class="form-control" />
                        <span asp-validation-for="Cantidad" class="text-danger"></span>
                    </div>

                    
                    <div class="form-group">
                        <label asp-for="SalaId" class="control-label">ID de la Sala</label>
                        <input asp-for="SalaId" class="form-control" placeholder="Ingrese el ID de la sala" />
                        <span asp-validation-for="SalaId" class="text-danger"></span>
                    </div>

                    
                    <div class="form-group">
                        <label asp-for="ParticipanteId" class="control-label">ID del Participante</label>
                        <input asp-for="ParticipanteId" class="form-control" placeholder="Ingrese el ID del participante" />
                        <span asp-validation-for="ParticipanteId" class="text-danger"></span>
                    </div>

                    <div class="card-footer text-center">
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm" />
                            <a asp-action="Index" class="btn btn-outline-success btn-sm">Volver a la lista</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

